[mysqld]
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0.1
#character-set-server=utf8mb4
#collation-server=utf8mb4_unicode_ci

# # クエリキャッシュ最大サイズ
# query_cache_limit=16M
# # クエリキャッシュで使用するメモリサイズ
# query_cache_size=512M
# # クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
# query_cache_type=1
# InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
# innodb_buffer_pool_size=6G
# # InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
# innodb_log_file_size=1G

